body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

#root {
  width: 100%;
  max-width: 480px; /* זה מה שעושה את זה כמו טלפון */
  min-height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}